/*-- scss:defaults --*/

// Superhero navy/orange recast as greys.
$blue:    #1a1a1a;
$cyan:    #1a1a1a;
$orange:  #e6e6e6;
$body-bg: #1a1a1a;

$mid-gray: #808080;

$navbar-bg: $mid-gray;
$navbar-fg: #fff;
$footer-bg: $mid-gray;
$footer-fg: #fff;
